.mission {
  display: inline-block;
}

#additionLink,
#subtractionLink,
#multiplicationLink,
#divisionLink {
  color: black;
  font-size: 35px;
}

.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-container {
  border: 1px solid black;
  width: 300px;
  box-shadow: 10px 10px 5px gray;
  padding: 50px;
  margin: 25px;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.mission-container:hover {
  transform: scale(1.1);
}
