.scorecard {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#UserScore {
  font-family: fantasy;
  font-size: 50px;
  margin-top: 0px;
}

.toHomepage {
  margin-top: 30px;
}

.playAgain {
  margin-top: 30px;
}

#toHomepage {
  width: 400px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--bs-purple);
  color: whitesmoke;
  font-size: 25px;
}

#playAgain {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  background-color: green;
  color: whitesmoke;
  font-size: 25px;
}
