.logo {
  height: 80px;
}

li > a {
  font-size: 20px !important;
  color: white !important ;
}

li > a:hover {
  background-color: white;
  color: var(--bs-purple) !important ;
}

._8icz {
  border-bottom: 2px solid #d3d5d8;
  display: flex;
  margin: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}
