.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
}

.intro-text {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 95px;
}

.subtitle {
  font-size: 25px;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.landingbutton {
  margin: 30px;
  padding: 20px;
  border: 3px solid;
  border-radius: 10px;
  font-size: 25px;
}
